* {
margin: 0px;
padding: 0px;
}
html {
  font-family: Verdana,Arial,_sans;
}
img {
  border: none;
}

a{
  text-decoration: none;
  color: black;
}

#stage {
  width: 600px;
  margin: 10px auto;
}

.img {
  width: 190px;
  float:left;
  list-style-type: none;
  position: relative;
}

.img img {
  display: block;
  margin: auto;
  width: 100px;
  height: 134px;
}
  
.img .fired {
  display: block;
  position: absolute;
  width: 100px;
  height: 30px;
  top: 40px;
  left: 45px;
  z-index: 4;
}

.img .score {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size:12px;
}
.img .score span {
  font-size:14px;
  font-weight: bold;
}

#footer {
  position: relative;
  height: 100px;
}

#weapon {
  top: -35px;
  left: 0px;
  position: absolute;
  z-index: 2;
}

#sound_waves{
  height: 65px;
  position: relative;
}

#volume {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.thief{
 position:absolute;
 bottom: -27px;
 left: 30px;
 z-index: 3;
 width: 130px;
 font-size: 18px;
 display:block;
}

.clear {
  clear: both;
}